pandas==2.3.3
pyarrow==22.0.0
numpy==2.3.5
matplotlib==3.10.0
pyswmm==2.1.0
scikit-learn==1.8.0
joblib==1.5.3
torch==2.6.0
xgboost==3.2.0
shap==0.51.0
swmm-api==0.4.73
ydata-profiling==4.18.4
Pillow==12.2.0
pytest==9.0.3
networkx==3.6.1
PyYAML==6.0.3
